@media (min-width: 767px) {
    .cModal {
		background: white;
		background-image: url("images/bg.png");
        height: 350px;
        position: fixed;
        top: 50%;
        right: 20%;
        left: 20%;
        padding: 2.5em 5em;
        border-radius: 5px;
        z-index: 2;
        visibility: visible;
    }
    .cModal:target {
        visibility: hidden;
    }
}
